<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>CUNY Team-2</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/reveal.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/theme/black.css') }}">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="{{ url_for('static', filename='lib/css/zenburn.css') }}">
	
		<!-- PDF -->

	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h1>Reveal.js</h1>
					<h3>The HTML Presentation Framework</h3>
					<p>
						<small>Created by <a href="http://hakim.se">Hakim El Hattab</a> and <a href="https://github.com/hakimel/reveal.js/graphs/contributors">contributors</a></small>
					</p>
				</section>
				
				<section>Slide 2</section>
			</div>
		</div>

		<script src="{{ url_for('static', filename='lib/js/head.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/reveal.js') }}"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: {{ url_for('static', filename='plugin/markdown/marked.js') }} },
					{ src: {{ url_for('static', filename='plugin/markdown/markdown.js') }} },
					{ src: {{ url_for('static', filename='plugin/notes/notes.js') }}, async: true },
					{ src: {{ url_for('static', filename='plugin/highlight/highlight.js') }}, async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>


