<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BoA codeWeek 2017 - CCNY Team2</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/static/css/grayscale.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">CCNY Team 2</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#approach">Approach</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#demo">Demo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Team</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <h1>Credit Card Fraud Detection</h1>

              <p class="intro-text">{codeWeek} 2017 Innovation Fair
                <br>@ One Bryant Park
                <br>Friday, December 15 2017
              </p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <h1>About Credit Card Fraud</h1>
            <p> The advent of technology, in the form of credit card, brought in convenience and made life simpler for us. </p>
            
            <p> While credit cards have made life easy for us, credit card fraud is a significant problem in the U.S. with losses exceeding <b>$5.718 billion</b> annually according to <a href="https://www.kansascityfed.org/MZKhZ/Publicat/Econrev/pdf/10q2Sullivan.pdf">Federal Reserve (Sullivan, 2010)</a>. </p>
            
            <p>Credit cards are found in most Americans' wallets. Multiple studies say about <b>7 in 10</b> Americans have <b>at least one credit card</b>. <a href="https://www.creditcards.com/credit-card-news/ownership-statistics.php">Federal Reserve data released in 2015</a>, for example, <b>found 70%</b> of consumers had <b>at least one credit card</b>.</p>

            <p>To combat credit card fraud, we employed numerous machine learning models to classify fradulent and non-fradulent credit card activities.</p>

            <p>In our {codeWeek} BoA hack, we examined a dataset containing transactions made by credit cards in September 2013 by European cardholders. This dataset presents transactions that occured in two days, whre we have <b>492 frauds out of 284,807</b> transactions.</p>
      
          </div>
        </div>
      </div>
    </section>



    <!-- Approach Section -->
    <section id="approach" class="approach-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h1 class="approach">Approach</h1>
          <p>need jose for this</p>
        </div>
      </div>
    </section>



    <!-- Demo Section -->
    <section id="demo" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h1>Demonstration</h1>
                    
              <h3>Upload your test file</h3>
              <form method=post enctype=multipart/form-data>
                <input class="btn btn-warning" type=file name=file>
                   <input class="btn btn-danger" type=submit value=Upload>
              </form>
            
            </ul>
          </div>
        </div>
      </div>
    </section>


    <!-- Team Section -->
    <section id="contact" class="team-section content-section text-center">
       <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1>Our Amazing Team</h1>
            <h3>Bank of America {codeWeek} Hackathon 2017</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="/static/img/mentor.png" alt="">
              <h4>Deanna Tufano</h4>
              <p>BoA Mentor</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="/static/img/josephPark.jpg" alt="">
              <h4>Joseph Park</h4>
              <p>Hacker</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="/static/img/joseLuis.jpg" alt="">
              <h4>Jose Luis</h4>
              <p>Hacker</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <h2>Thank you BoA for this wonderful opportunity!</h2>
          </div>
        </div>

    </section>


    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; CCNY Team 2 2017</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/grayscale.js"></script>

  </body>

</html>
